.container {
    max-width: 80%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 70px;
}

.logo {
    width: 110px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
