#transactions-preview {
    width: 100%;
    height: 100%;

    padding: 32px;
}

.transaction-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
    font-weight: bold;
    
}


.transaction-details{
    display: flex;
    flex-direction: column;
}

.transaction-details p{
    color: #242424;
    opacity: 0.7;
}

.transaction-amount{
    display: flex;    
    align-items: center;
    color: #3FBF73;
}



.icon-container{
    display: flex;
    align-items: center;
    border-radius: 50;
}

.transaction-card.transfer .icon-container {
    border: 3px solid #54BCF1;
    border-radius: 50%;
    padding: 10px;
}

.transaction-card.payment .icon-container {
    border: 3px solid #FFA15E; 
    border-radius: 50%;
    padding: 10px;
}

.transaction-card.income .icon-container {
    border: 3px solid #3FBF73;
    border-radius: 50%;
    padding: 10px;
}

.transaction-card.withdrawal .icon-container {
    border: 3px solid #FF5C5C;
    border-radius: 50%;
    padding: 10px;
}

.transaction-card.transfer .transaction-amount {
    color: #54BCF1; 
}

.transaction-card.payment .transaction-amount {
    color: #FFA15E;
}

.transaction-card.income .transaction-amount {
    color: #3FBF73;
}

.transaction-card.withdrawal .transaction-amount {
    color: #FF5C5C; 
}