.transaction-card {

}
.transaction-item {

}

.transaction-item .icon {

}

.icon-container{
    border-radius: 50%;
    padding: 10px;

}

.deposit-icon {
    background-color: #ccffec;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}




.service-item:last-child {
    margin-bottom: 0;
}