.home-main {
    padding: 32px;
    max-width: 70%;
    margin: auto;
    height: 70vh;

}

.home-main a {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.home-content {
    display: flex;
    flex-direction: row;
    gap: 46px;
    height: 100%;
    padding-top: 32px;
}

.all-left-content {
    min-width: 66%;
}

.left-selection-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cards-content {
    margin-bottom: 56px;
}

.left-selection-home {}

.left-content-sections {
    margin-top: 20px
}

.services-header {
    margin-bottom: 15px;
}

.services-content {}

.services-container {}

.all-right-content {
    min-width: 30%;

}

#card-container {
    display: flex;
    justify-content: space-between;
}


.right-selection-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

}

.right-content-home {
    display: flex;
    height: 100%;

}